<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Salaire</th>
          <th>Date d'embauche</th>
        </tr>
        <tbody *ngFor="let employe of employe">
          <tr>
            <td>{{ employe.idEmploye }}</td>
            <td>{{ employe.nomEmploye }}</td>
            <td>{{ employe.salaireEmploye }}</td>
            <td>{{ employe.dateEmploye | date : "dd/MM/yyyy" }}</td>
            <td>
              <a class="btn btn-danger" (click)="supprimerEmploye(employe)"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                class="btn btn-success"
                [routerLink]="['/updatEmploye', employe.idEmploye]"
                >Modifier</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
